#todo {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
    color: #464646;
}

.header, .skillsHobbies, .experiencia {
    margin: 5vh 10vw;
}

.headerContainer {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nombreCompleto {
    font-weight: bold;
    font-size: larger;
}

.nombreCompleto:hover {
    color: hsl(300, 84%, 18%);
    transform: scale(1.5, 1.5);
    transition: 1.5s all;
}

.menuContainer {
    display: flex;
    position: absolute;
    top: 5vh;
    right: 10vw;
}

.menuContainer li {
    margin: 0 1vw;
}

.menuContainer li:last-child {
    font-weight: bold;
}

.menuContainer li:hover {
    font-weight: bold;
    color: hsl(300, 84%, 18%);
    transform: scale(1.2);
    transition: .5s all;
}

.primeraImpresion {
    margin: 10vh 10vw;
    display: flex;
    align-items: center;
}

.presentacion {
    display: block;
    width: 40vw;
    font-size: 52px;
    margin-bottom: 3vh;
}

.intro {
    width: 40vw;
    font-size: 22px;
    margin-bottom: 3vh;
}

.oracleImg {
    width: 5vw;
}

.oracleImg:hover {
    filter: brightness(120%);
}

.linksAlura {
    font-size: larger;
    color: hsl(214, 77%, 52%);
}

.linksAlura:hover {
    color: hsl(214, 82%, 32%);
}
.contacto {
    display: flex;
    justify-content: start;
}

.contacto li {
    margin-right: 2vw;
    font-size: large
}

.contacto li:hover {
    font-weight: bold;
    color: hsl(300, 84%, 18%);
    transform: scale(1.2);
    transition: .5s all;
}

.flecha {
    width: 10px;
    margin-left: 5px;
}

.perfil {
    width: 30vw;
    border-radius: 50%;
    margin-left: 3vw;
}

.sobreMi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(210, 83%, 95%);
}

.tituloSobreMi {
    margin: 5vh 10vw 2vh;
    font-size: 52px;
    font-weight: bold;
}

.parrafos {
    margin:2vh 10vw;
    padding-right: 40vw;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

.parrafos:last-child {
    padding-bottom: 5vh;
}

.skillsHobbies  {
    margin: 5vh 10vw;
}

.skillsTitulo, .hobbiesTitulo, .formacionTitulo, .xpTitulo {
    margin-bottom: 5vh;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.skillsContainer, .hobbiesContainer {
    display: flex;
    justify-content: space-around;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    background-color: hsl(0, 0%, 100%);
}

.skill p {
    margin: .5vh .5vw;
}
.logos {
    width: 2vw;
}

.logos:hover {
    transform: scale(1.5);
    transition: 1s all;
    filter: drop-shadow(3px 5px 1.5px hsl(300, 84%, 37%));
}
.formacionContainer {
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.formacion {
    padding: 5vh 0;
    background-color: hsl(210, 83%, 95%);
}   

.formacionImg {
    background-color: hsl(0, 0%, 100%);
}

.formacionImg{
    width: 500px;
    height: 350px;
    object-fit: contain;
}

.nombreCurso {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: .5vh;
}

.proyectosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.proyectos{
    margin: 5vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreProyecto {
    width: 25vw;
    margin-bottom: 1vh;
    font-size: 22px;
    font-weight: bold;
}

.proyectoImg{
    width: 40vw; 
}

.repoBtn {
    width: 120px;
    height: 60px;
    margin-top: 1vh;
    border: 1px solid hsl(214, 77%, 52%);
    color: hsl(214, 77%, 52%);
    text-align: center;
}

.demoBtn {
    width: 110px;
    height: 60px;
    margin-top: 1vh;
    margin-left: 1vw;
    background-color:hsl(214, 77%, 52%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.volverInicio {
    width: 3vw;
    position: sticky;
    left: 92vw;
    bottom: 8vh;
}

.volverInicio:hover {
    transform: scale(1.2);
    transition: 1s all;
}