#todo {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
    color: #464646;
}

.header, .primeraImpresion, .skillsHobbies, .experienciaContainer {
    margin: 5vh 10vw;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
}

.nombreCompleto {
    margin-left: 1vw;
    font-weight: bold;
    font-size: larger;
}

.nombreCompleto:hover {
    color: hsl(300, 75%, 40%);
    transition: 1.5s all;
}

.menu{
    display: flex;
    position: absolute;
    margin-top: 1vh;
    top: 5vh;
    right: 10vw;
}

.menu li {
    margin: 0 1vw;
}

.menu li:last-child {
    font-weight: bold;
}

.menu li:hover {
    font-weight: bold;
    color: hsl(300, 84%, 18%);
    transform: scale(1.2);
    transition: .5s all;
}

.primeraImpresion {
    display: flex;
    align-items: center;
}

.presentacion {
    display: block;
    width: 40vw;
    font-size: 52px;
    margin-bottom: 3vh;
}

.intro {
    width: 40vw;
    font-size: 22px;
    margin-bottom: 3vh;
}

.oracleImg {
    width: 5vw;
}

.oracleImg:hover {
    filter: brightness(120%);
}

.linksAlura {
    font-size: larger;
    color: hsl(214, 77%, 52%);
}

.linksAlura:hover {
    color: hsl(214, 82%, 32%);
}
.contacto {
    display: flex;
    justify-content: start;
}

.contacto li {
    margin-right: 2vw;
    font-size: large
}

.contacto li:hover {
    font-weight: bold;
    color: hsl(300, 84%, 18%);
    transform: scale(1.2);
    transition: .5s all;
}

.flechas {
    width: 10px;
    margin-left: 5px;
}

.perfil {
    width: 30vw;
    border-radius: 50%;
    margin-left: 3vw;
}

.sobreMiContainer {
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(210, 83%, 95%);
}

.tituloSobreMi {
    font-size: 52px;
    font-weight: bold;
}

.parrafos {
    margin:2vh 0;
    padding-right: 40vw;
    font-size: 18px;
}

.skillsTitulo, .hobbiesTitulo, .formacionTitulo, .xpTitulo {
    margin-bottom: 5vh;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.skillsContainer, .hobbiesContainer {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    background-color: hsl(0, 0%, 100%);
}

.skill p {
    margin: .5vh 0;
}
.logos {
    width: 2vw;
}

.logos:hover {
    transform: scale(1.5);
    filter: drop-shadow(2px 4px 1px hsl(300, 75%, 40%));
    transition: .5s all;
}

.formacionContainer {
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(210, 83%, 95%);
}
.formacion {
    display: flex;
    justify-content: center;
}   

.cursos {
    
    margin-right: 1vw;
}

.formacionImg{
    width: 20vw;
    height: 30vh;
    background-color: white;
    object-fit: contain;
}

.nombreCurso {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: .5vh;
}

.experienciaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.proyectosContainer {
    margin: 3vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
    
}

.nombreProyecto {
    width: 25vw;
    margin-bottom: 1vh;
    font-size: 22px;
    font-weight: bold;
}

.proyectoImg{
    width: 40vw; 
}

.repoBtn {
    width: 120px;
    height: 60px;
    margin-top: 1vh;
    border: 1px solid hsl(214, 77%, 52%);
    color: hsl(214, 77%, 52%);
    text-align: center;
    cursor: pointer;
}

.demoBtn {
    width: 110px;
    height: 60px;
    margin-top: 1vh;
    margin-left: 1vw;
    background-color:hsl(214, 77%, 52%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    cursor: pointer;
}

.repoBtn:hover {
    filter: brightness(50%);
}

.demoBtn:hover {
    filter: brightness(105%);
}


.contactoContainer {
    padding: 15vh 10vw;
    background-color: hsl(210, 83%, 95%);
    display: flex;
    justify-content: start;
    align-items: center;
}

.telefonoImg {
    width: 30vw;
}

.telefonoContainer {
    display: flex;
    justify-content:start;
}

.formContainer {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.contactoTitulo {
    margin-bottom: 1vh;
    font-size: 40px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
}

.nombre, .email, .asunto, .mensaje {
    margin-top: 2vh;
    width: 40vw;
    height: 7vh;
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid #C8C8C8;
}

.mensaje {
    height: 30vh;
}

.enviarMsj {
    width: 8vw;
    height: 7vh;
    margin-top: 2vh;
    text-align: center;
    background-color: hsl(214, 77%, 52%);
    color: white;
    cursor: pointer;
}

.enviarMsj:hover {
    filter: brightness(105%);
}

input::placeholder {
    color: #C8C8C8;
    position: relative;
    bottom: 1vh;
    left: .5vw;
    font-size: 16px;
}

h6 {
    margin: 1vh 0;
    color: #464646;
    text-align: center;
}


.volverInicio {
    width: 3vw;
    position: fixed;
    left: 92vw;
    bottom: 8vh;
}

.volverInicio:hover {
    transform: scale(1.2);
    transition: 1s all;
}
